## Virtual environments
myvenv/
venv/

# Secrets
.env
.streamlit/secrets.toml

# Chatbot core (explicitly ignored)
chatbot.py
chatbot_utility.py
chatbot .ipynb

# Databases
vector_db/
chroma.sqlite3

# Cache
__pycache__/
.ipynb_checkpoints/

requirement.txt
# Documents
*.pdf

science video.mp4